* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh;
    margin: 0;
    border: 1px solid black;
}

a {
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 3px 4px gray;
}

/******************\
    Ada Lovelace
\******************/

header {
    border: 1px solid blue;
    padding: 15px;
}

h1 {
    font-family: 'Italianno', cursive;
}

main {
    height: auto;
    border: 1px solid orangered;
}

aside {
    float: right;
    height: 100%;
    border: 1px solid green;
    padding: 15px;
}

footer {
    border: 1px solid red;
    padding: 15px;
}

/***************************************\
    playing around with hover effects
\***************************************/
#giggleContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 430px;
    border: 2px dashed gray;
    border-radius: 15px;
    padding: 15px;
}

.giggle {
    border: 1px solid black;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    transition: 5s;
    z-index:2;
}
.giggle:hover {
    width: 35px;
    height: 35px;
    transition: 50ms;
    margin: -10px;
    background-color: purple;
    z-index: 1;
}


/********************\
    traffic lights  
\********************/
#trafficLight {
    border: 2px dashed gray;
    border-radius: 15px;
    float:right;
}
#trafficLight>div {
    margin: 5px;
    width: 50px;
    height: 50px;
}
#firstLight {
    border: 5px solid #8c2617;
    background-color: #ed452f;
}
#secondLight {
    border: 5px solid #9b9c1b;
    background-color: #fdf733;
}
#thirdLight {
    border: 5px solid #2e6402;
    background-color: #3c8007;
}
