* {
    box-sizing: border-box;
    color: #080808;
}

body {
    position: relative;
}

.sticky {
    top: 0;
    position: sticky;
    height: 100px;
    background-color: white;
    font-size:larger;
    padding: 20px;
}
.sticky nav {
    float: right;
}
.sticky p {
    float: left;
    font-weight: bolder;
}

img {
    width: 100vw;
}