<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="description" content="A short description">
    <meta name="author" content="MonBjo">

    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>

    <title>Download out app</title>
</head>
<body>
    <header>
        <section class="headerbar">
            <img src="../../img/zocom-logo.svg">
            
            <nav>
                <ul>
                    <li>HOME</li>
                    <li>HOW IT WORKS</li>
                    <li>FEATURES</li>
                    <li>PRESS</li>
                    <li>PRICING</li>
                    <li>CONTACT</li>
                </ul>
            </nav>
            
            <button>GET A QUOTE</button>
        </section>

        <section class="hero">
            <h1>Download our App</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. nemo praesentium at beatae nesciunt velit deserunt impedit!</p>
            <section class="getApp">
                <img src="appStore.svg">
                <img src="googlePlay.svg">
            </section>
            <img src="phone.svg">
        </section>
    </header>
    
    <main>
    
    <section class="products">
            <h1>Our products</h1>
            <section class="cardWrapper">
                <section class="product card">
                    <div class="placeholder"><img src="../../img/placeholder_img.svg"></div>
                    <h2>Green Cap</h2>
                    <p>US$29</p>
                </section>
                
                <section class="product card">
                    <div class="placeholder"><img src="../../img/placeholder_img.svg"></div>
                    <h2>Zara shirt</h2>
                    <p>US$19.90</p>
                </section>
                
                <section class="product card">
                    <div class="placeholder"><img src="../../img/placeholder_img.svg"></div>
                    <h2>Nike Air</h2>
                    <p>US$34</p>
                </section>
                
                <section class="product card">
                    <div class="placeholder"><img src="../../img/placeholder_img.svg"></div>
                    <h2>Nerd tshirt</h2>
                    <p>US$9,99</p>
                </section>

                <section class="collection card">
                    <h2>COLLECTION</h2>
                    <p>Summer 2021</p>
                    <button>CHECK IT OUT</button>
                </section>
                
                <section class="collection card">
                    <h2>COLLECTION</h2>
                    <p>Summer 2021</p>
                    <button>CHECK IT OUT</button>
                </section>
            
        </section>
    </main>
    
    <footer>
        <section class="contactCard">
            <h1>Contact us</h1>
        </section>
    </footer>
</body>
</html>