<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <meta name="description" content="A short description">
    <meta name="author" content="MonBjo">

    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>

    <title>Nectar</title>
</head>
<body>
    <header>
        <img src="img/logo.svg">
        <nav>
            <ul>
                <li>RECIPIES</li>
                <li>GASTROPEDIA</li>
                <li>THE CHEF</li>
                <li>NEWS</li>
            </ul>
        </nav>
        <section>
            <img src="img/search.svg">
            <img src="img/menu.svg">
        </section>
    </header>

    <main>
        <section class="introduction">
            <h4>Chapter 1</h4>
            <h1> TASTEFUL <span>RECIPIES</span></h1>
            <p>BY BRUNO BREADCRUM</p>
        </section>
        
        <section class="recipiesWrapper">
            <article class="recipeCard bigCard">

                <figure>
                    <img src="img/pancakes.jpg">
                </figure>
                <container class="content">
                    <containder class="interact">
                        <img src="img/like.svg">
                        <img src="img/context_menu.svg">
                    </containder>

                    <container class="rating">
                        <img src="img/star_dark.svg">
                        <img src="img/star_dark.svg">
                        <img src="img/star_dark.svg">
                        <img src="img/star_dark.svg">
                        <img src="img/star_light.svg">
                        <p>321</p>
                    </container>

                    <h4>Breakfast</h4>
                    <h1>VEGAN BLUEBERRY PANCAKES WITH MANDARINE SAUCE & SPICES</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem natus laborum rerum laboriosam nobis consequatur?</p>
                    <img src="img/more_button.svg">
                </container>
            </article>

            <article class="recipeCard">
                content
            </article>

            <article class="recipeCard">
                content
            </article>
            
            <article class="recipeCard">
                content
            </article>
        </section>

        <button>VIEW ALL RECIPIES</button>

        <section class="categoryWrapper">
            sum f*ing categories
        </section>

        <section class="sumFancyStuff">
            yeeeeee
        </section>
    </main>

    <footer>
        footahh
    </footer>
</body>
</html>