@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh;
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #DDDDDD;
    color: #222222;
}

h4 {
    font-family: 'EB Garamond', serif;
    font-style: italic;
}


/************
    HEADER
 ************/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    padding-left: 30px;
}

header nav {
    font-weight: bold;
    border-bottom: 3px solid black;
    padding: 0 20px;
    margin-bottom: -6px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
header nav ul li {
    padding: 10px;
}

header section {
    margin: -4px;
    padding: 0;
}
header section :nth-child(1) {
    padding: 30px;
}
header section :nth-child(2){
    padding: 30px;
    border: 1px solid gray;
}


/**********
    MAIN
 **********/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}


/*  INTRODUCTION */

main .introduction {
    text-align: center;
}
main .introduction h1 {
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 0;
}
main .introduction h1 span {
    font-weight: 900;
}

/* RECIPIES */

main .recipiesWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 440px;
    max-width: 1000px;
}

main .recipiesWrapper .recipeCard {
    background-color: white;
}

/* big card */
main .recipiesWrapper .bigCard {
    grid-column: 1 / 4;
    grid-row: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

main .recipiesWrapper .bigCard figure {
    flex: 2;
    margin: 0;
    padding: 0;
}
main .recipiesWrapper .bigCard figure img {
    width: 100%;
    height: 200%;
    margin-top: -20%;
}

/* Content of big card*/
main .recipiesWrapper .bigCard .content {
    flex: 1;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
}

main .recipiesWrapper .bigCard .content .interact {
    align-self: flex-end;
}
main .recipiesWrapper .bigCard .content .interact img {
    padding: 0px 10px;
    margin: auto;
}

main .recipiesWrapper .bigCard .content .rating {
    margin-bottom: 15px;
}
main .recipiesWrapper .bigCard .content .rating * {
    display: inline;
    margin: auto;
}

main .recipiesWrapper .bigCard .content h1, h4 {
    margin: 0;
}
main .recipiesWrapper .bigCard .content h1 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

main .recipiesWrapper .bigCard .content p {
    line-height: 1.5rem;
}

main .recipiesWrapper .bigCard .content > :last-child {
    height: 50px;
    align-self: flex-end;
    margin-top: auto;
}